<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.moyuzhe.mapper.CarouselMapper">

    <resultMap id="BaseResultMap" type="xyz.moyuzhe.entity.Carousel">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,path,status
    </sql>

    <select id="checkRepeat" resultType="int">
        select count(*) from carousel where path = #{path} and status = 0
    </select>

</mapper>
